* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   --orange: #f2c14e;
   --winning-blocks: #4f5f059c;
}

body {
   color: var(--orange);
   font-family: 'Finger Paint', cursive;
}

h1 {
   font-size: 54px;
   text-transform: uppercase;
}

.container {
   padding: 40px;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #37505c;
}

#gameboard {
   width: 450px;
   display: flex;
   flex-wrap: wrap;
   margin-top: 40px;
}

.box {
   height: 150px;
   width: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--orange);
   font-size: 120px;
   border-right: 3px solid;
   border-bottom: 3px solid;
}

.box:hover {
   cursor: pointer;
}

.box:nth-child(3n) {
   border-right: none;
}

.box:nth-child(6) ~ .box {
   border-bottom: none;
}



button {
   padding: 10px 22px;
   border-radius: 10px;
   background-color: var(--orange);
   color: #333;
   border-color: var(--orange);
   font-size: 18px;
   transition: 200ms transform;
   font-weight: 600;
}

button:hover {
   cursor: pointer;
   transform: translateY(-3px);
}